.inputField {
  margin-top: 2rem;
  width: 40vw;
  height: 40px;
  font-size: large;
  font-family: inherit;
  background-color: #cacaca;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px;
}

.sampleTextContainer {
  font-weight: 400;
  width: 40vw;
  font-size: 2rem;
}

.boldAndCenter {
  color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  height: 100%;
  animation: fadein 1s;
}

.sampleText {
  height: 500px;
  overflow-y: hidden;
  line-height: 3rem;
  text-overflow: ellipsis;
}

.correctWords {
  font-weight: 100;
  font-size: 1.3rem;
}

.hightlightResult {
  font-weight: 300;
  color: greenyellow;
  font-size: 1.5rem;
  animation: fadein 1s;
}

span {
  display: inline-block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {
  .inputField {
    width: 60vw;
  }
  .sampleTextContainer {
    width: 60vw;
  }
}
