.inputField {
  width: 40vw;
  height: 50px;
  font-size: large;
  font-family: inherit;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px;
}

.sampleText {
  font-weight: 400;
  width: 40vw;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.correctWords {
  font-weight: 100;
  font-size: 0.9rem;
}
